.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-section {
  justify-content: center;
  padding-top: 10px;
}

.question-count {
  font-size: 15px;
  margin-bottom: 20px;
}

.question-text {
  font-size: 50px;
}

.answer-section{
  padding: 10px;
}

.answer-section button{
  margin: 50px;
}

.answer-option {
  padding: 50px;
}